*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(28, 247, 247);
    align-items: center;
}
/* .parent{
    display: flex;
    gap: 40px;
} */

/* .parent{
    display: flex;
    flex-direction: column;
    gap: 40px;
} */

/* .parent{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
} */

.parent{
    flex-wrap: wrap;
    
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: center;
    width: 50vw;
    height: 89vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(7, 91, 63);
}
#first{
    background-color: red;
}
#second{
    background-color: blue;
}
#third{
    background-color: yellow;
}

.child{
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid blue;
}
.main{
    width: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: greenyellow;
    /* flex grow is basically used in nav barr to give equall witdh to the item of the nav */
}
.item{
    background-color: rgb(239, 95, 23);
}

